body {
            background-color:beige;
            margin: 0;
            padding: 0;
            padding-top: 40px; /* To avoid the main content going under the fixed header */
        }
        h1{
            text-align: center;
            font-size: 50px;
            margin-top: 0;
            bottom: 0;
            color: rgb(6, 94, 94);
            
        }
        
        header {
            
            position: sticky;
            top:0;
            width: 100%;
            height:70px; /* This makes the header bigger */
            line-height: 60px; /* This vertically centers the text in the header */
        }
        nav ul {
            list-style-type: none;
            padding:0;
            text-align:center; /* This horizontally centers the text in the header */
        }
        nav ul li {
            display: inline;
            margin-right: 60px; /* This increases the space between the items in the header */
        }
        nav ul li a {
            text-decoration: none;
            font-size: 32px; /* This makes the text in the header bigger */
        }
        
        header {
          text-align: center;
          padding: 20px ;
      }
      
      .main {
          display: flex;
          justify-content: space-around;
          margin-top:180px;
          
      }
      .column {
          flex-basis: 25%;
          text-align: center;
      }
    

        .footer {
         position: fixed;
          left: 0;
           bottom:0;
             width: 100%;
             background-color:rgb(62, 57, 50);
          color:black;
         text-align: center;
       }
          
        body{
            background-color: blanchedalmond;
          }

          * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 33.33px -10px;
              padding:20px;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
          
          .column{
             justify-content: stretch ;
             
          }
          
          .row{
            justify-content: center;
          }
        
        h2 {
            text-align: left;
                   }
                   h3 {
            text-align: left;
                   }
          
                   h4 {
            text-align: left;
                   }
          
               .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          .contact{
               display: flex;                   /*displays it in one line`*/ 
                justify-content: space-evenly;
          }

          .img{
            float: left;
            border-top:0;
            padding: 20px;
            bottom: 10px;
           
          }
          
          p {
            font-size: medium;
            
          }
          #container{
            border: 1px solid black;
            width: 350px;
          }
          #last
          nav ol{
            display: inline;
          }