body{
    overflow: hidden;
    margin-right: 30px;
    margin-left: 30px;
}
.container{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #330000;
}
h1
{
    margin-top: 0%;
    margin-bottom: 0%;
    height: 60px;
    padding-top: 30px;
    color: #330000;
    background-color: #ccaa66;
    border: 2px solid black;
    border-collapse: collapse;
    display: flexbox;
    justify-content: center;
    text-align: center;
}

.leftnav a{
    text-decoration: none;
    padding: 10px;
    line-height: 3;
}
.navbar{
    background-color: #E8D882;
    width: 20%;
    height: 350px;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}

.main-content{
    background-color: #f1e8b0;
    width: 80%;
    height: 350px;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid black;
    border-collapse: collapse;

}
img{
    width: 350px;
    height: 250px;
    padding-right: 20px;
}

#right{
    float: right;
}
footer{
    margin-top: 0%;
    margin-bottom: 0%;
    height: 50px;
    padding-bottom: 20px;
    color: #330000;
    background-color: #ccaa66;
    border: 2px solid black;
    border-collapse: collapse;
    display: flexbox;
    justify-content: center;
    text-align: center;
}